@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F0F0;
    color: #333;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: grid;
    justify-content: center;
    align-items:center;
}

ul.navegacao {
    list-style: none;           
    padding: 0;                 
    display: flex;              
    justify-content: center;    
    gap: 25px;                 
}

.navegacao a {
    text-decoration: none;
    color: #727D73;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navegacao a:hover {
    background-color: #727D73;
    color: #fff;
}

.contact {
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.contact .info h1, #lista h2 {
    font-family: 'Poppins', sans-serif;
    color: #AAB99A;
    margin-bottom: 0.5rem;
}

.contact .info p {
    color: #666;
    margin-bottom: 1.5rem;
}

/* Estilização do Formulário */
.contact.form #inscricaoForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact.form input[type="number"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.contact.form button[type="submit"] {
    background-color: #727D73;
    color: #F0F0D7;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact.form button[type="submit"]:hover {
    background-color: #AAB99A;
}

#lista {
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#lista h2 {
    color: #727D73;
    text-align: center;
}

#listaInscricoes {
    list-style: none;
}

#listaInscricoes li {
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #eee;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s;
}

#listaInscricoes li:hover {
    background-color: #e9ecef;
}

/* Estilos do Rodapé */
footer {
    background-color: #727D73;
    color: #D0DDD0;
    text-align: center;
    padding: 2.2rem;
    margin-top: 2rem;
}

footer h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media (max-width: 600px) {
    .contact, #lista {
        margin: 1rem;
        padding: 1.5rem;
    }

    header {
        padding: 1rem;
    }
}